body{
    background-color: #2a44ff;
}
.cabezera{
    background-color: #fff;
    border: 5px solid grey;
    margin : 20px 0px 20px 0px;
    height: 200px;
    width: 100%;
}
.cabezeraTexto{
    text-align: right;
}
.cabezeraTexto>h4{
    margin:130px 0px 0px 0px;
}
.perfil{
    height: 190px;
    width: 150px;
}

.navegacionInterna{
    text-align: center;
    vertical-align: center;
    font-size: 30px;
    height: 50px;
}
.navItem{
    background-color: grey;
    border: 5px solid #fff;
}

.main{
    background-color: #fff;
    border: 5px solid grey; 
}
.mainItem{
    background-color: #6478ff;
    border: 5px solid #fff; 
}


a:link, a:visited {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

a:link:active, a:visited:active {
    color: purple;
}