body{
    text-align: center;
    box-sizing: content-box;
    border: 1px solid black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
a{
    text-decoration: none;
}
.entrar{
    font-size: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 20px;
    
    border: 1px solid black;
}
