* {
  color: #212121;
}

#Eyelash1 {
  left: 0%;
  cursor: pointer;
}

#Eyelash2 {
  left: 20%;
  cursor: pointer;
}

#Eyelash3 {
  left: 40%;
  cursor: pointer;
}

@font-face {
  font-family: "roboto";
  src: url("../fuentes/Roboto/Roboto-Regular.ttf");
  font-family: "robotoLightItalic";
  src: url("../fuentes/Roboto/Roboto-LightItalic.ttf");
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#fondoPantalla {
  width: 100%;
  height: 100vh;
  transition: 1s;
  background: url(../img/fondo4.svg) no-repeat 0% 0%;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  #fondoPantalla {
    background: url(../img/fondo4.svg) no-repeat 0% 0%;
    background-size: cover;
    width: 120%;
    height: 120vh;
    overflow: hidden;
  }
}

#container {
  background: #f0f0f0;
  position: absolute;
  width: 100%;
  height: 90vh;
  bottom: 0;
  border-radius: 30px;
}
@media screen and (min-width: 768px) {
  #container {
    top: 50%;
    left: 50%;
    box-shadow: 5px 5px 15px 5px #000000;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90vh;
  }
}
@media screen and (min-width: 1200px) {
  #container {
    animation: animacionAparicion 1s 1 linear;
  }
}
#container nav {
  position: absolute;
  top: 5px;
  z-index: 20;
  width: 100%;
}
#container nav ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
#container nav ul li:hover {
  border: 2px solid black;
}
#container nav ul li {
  list-style: none;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #BDBDBD;
  border-radius: 50%;
  background: #8BC34A;
  color: white;
  box-shadow: 3px 3px 30px 2px #000000;
}
@media screen and (min-height: 700px) {
  #container nav ul li {
    width: 20%;
    height: 75px;
    border-radius: 20px;
  }
}
@media screen and (min-height: 700px) and (max-width: 500px) {
  #container nav ul li {
    width: 50px;
    height: 50px;
  }
}
#container nav ul li i {
  *text-shadow: 2px 2px 0 #212121, 2px -2px 0 #212121, -2px 2px 0 #212121, -2px -2px 0 #212121, 2px 0px 0 #212121, 0px 2px 0 #212121, -2px 0px 0 #212121, 0px -2px 0 #212121;
  font-size: 1.5em;
  color: white;
}
@media screen and (max-height: 600px) {
  #container nav ul li i {
    font-size: 1.2em;
  }
}
#container nav ul li span {
  display: none;
  color: white;
  font-family: "roboto";
  font-size: 1.5em;
  margin-left: 10px;
}
@media screen and (min-width: 1200px) {
  #container nav ul li span {
    display: inline;
  }
}
@media screen and (min-width: 1200px) and (max-height: 700px) {
  #container nav ul li span {
    display: none;
  }
}
#container nav li:nth-child(1) {
  background: grey;
  box-shadow: 0px 0px 15px 1px yellow;
}
#container nav li:nth-child(2) {
  background: #e76033;
}
#container nav li:nth-child(3) {
  background: #26c5ce;
}
#container nav li:nth-child(4) {
  background: #1049be;
}
#container div {
  margin: 0;
}
#container article {
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 0;
  display: flex;
  background-color: #f0f0f0;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
#container article .cuerpoPresentacion {
  width: 90%;
  height: 90%;
  position: relative;
  overflow: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media screen and (min-width: 1000px) {
  #container article .cuerpoPresentacion {
    flex-flow: row;
    margin-left: 20px;
  }
}
#container article .cuerpoPresentacion #perfil {
  background: url(../img/perfil.jpg);
  background-size: cover;
  min-width: 175px;
  min-height: 230px;
  overflow: auto;
  border-radius: 30px;
  transition-duration: 2s;
  animation: animacionOpacidad 2s 1 linear;
}
@media screen and (min-width: 768px) {
  #container article .cuerpoPresentacion #perfil {
    min-height: 460px;
    min-width: 350px;
  }
}
#container article .cuerpoPresentacion section {
  position: static;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  animation: animacionOpacidad 3s 1 linear;
}
#container article .cuerpoPresentacion section #tituloPresentacion {
  font-family: "robotoLightItalic";
  font-size: 1.5em;
  text-align: center;
}
@media screen and (min-width: 767px) {
  #container article .cuerpoPresentacion section #tituloPresentacion {
    font-size: 3em;
  }
}
#container article .cuerpoPresentacion section #tituloPresentacion ~ p {
  color: #757575;
  text-align: center;
}
@media screen and (min-width: 950px) {
  #container article .cuerpoPresentacion section #tituloPresentacion ~ p {
    font-size: 2em;
  }
}
#container article .cuerpoTecnologias {
  width: 90%;
  height: 90%;
  position: relative;
  overflow: auto;
  display: flex;
  flex-flow: column;
  align-content: center;
  transition: 2s;
}
#container article .cuerpoTecnologias #tituloTecnologias {
  font-family: "robotoLightItalic";
  font-size: 1.5em;
  text-align: center;
}
@media screen and (min-width: 767px) {
  #container article .cuerpoTecnologias #tituloTecnologias {
    font-size: 3em;
  }
}
#container article .cuerpoTecnologias #elementosListados {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  grid-gap: 15px;
  height: 100%;
}
@media screen and (min-width: 767px) {
  #container article .cuerpoTecnologias #elementosListados {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
@media screen and (min-width: 767px) and (min-width: 1200px) {
  #container article .cuerpoTecnologias #elementosListados {
    display: none;
  }
}
#container article .cuerpoTecnologias #elementosListados li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}
#container article .cuerpoTecnologias #clasificacion {
  display: none;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  #container article .cuerpoTecnologias #clasificacion {
    display: flex;
    justify-content: space-around;
  }
  #container article .cuerpoTecnologias #clasificacion > li {
    list-style: none;
    width: 25%;
    border-radius: 30px;
    box-shadow: 15px 15px 10px -5px #000000;
    padding: 15px;
  }
  #container article .cuerpoTecnologias #clasificacion > li > ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  #container article .cuerpoTecnologias #clasificacion > li > ul > li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#container article .cuerpoTecnologias #clasificacion h2 {
  font-family: "robotoLightItalic";
}
#container article .cuerpoTecnologias #clasificacion * {
  font-size: 1.5em;
}
#container article .cuerpoProyectos {
  width: 90%;
  height: 90%;
  position: relative;
  overflow: auto;
  display: flex;
  flex-flow: column;
  align-content: center;
}
#container article .cuerpoProyectos #tituloProyecto {
  text-align: center;
  font-family: "robotoLightItalic";
  font-size: 1.5em;
  text-align: center;
}
@media screen and (min-width: 767px) {
  #container article .cuerpoProyectos #tituloProyecto {
    font-size: 3em;
  }
}
#container article .cuerpoProyectos section {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
}
@media screen and (min-width: 600px) {
  #container article .cuerpoProyectos section {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  #container article .cuerpoProyectos section {
    grid-template-columns: repeat(3, 1fr);
  }
}
#container article .cuerpoProyectos section .Buscaminas {
  background: url(../img/buscaminas.jpg) no-repeat 0% 0%;
  background-size: cover;
  border-radius: 30px;
  padding: 10px;
  border: 1px solid #BDBDBD;
  height: 100%;
}
#container article .cuerpoProyectos section .CasasRurales {
  background: url(../img/casasRurales.jpg) no-repeat 0% 0%;
  background-size: cover;
  border-radius: 30px;
  padding: 10px;
  border: 1px solid #BDBDBD;
  height: 100%;
}
#container article .cuerpoProyectos section .Java {
  background: url(../img/JuegoJava.jpg) no-repeat 0% 0%;
  background-size: cover;
  border-radius: 30px;
  padding: 10px;
  border: 1px solid #BDBDBD;
  height: 100%;
}
#container article .cuerpoProyectos section .cuerpoProyecto {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.8);
  *padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}
#container article .cuerpoProyectos section .cuerpoProyecto h2 {
  width: 90%;
  margin: 0;
}
#container article .cuerpoProyectos section .cuerpoProyecto p {
  width: 90%;
}
#container article .cuerpoProyectos section .cuerpoProyecto footer {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
#container article .cuerpoProyectos section .cuerpoProyecto footer .acceso {
  display: flex;
  justify-content: space-between;
}
#container article .cuerpoProyectos section .cuerpoProyecto footer .acceso a {
  margin-left: 10px;
  text-decoration: none;
}
#container article .cuerpoProyectos section .cuerpoProyecto footer .acceso a div {
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  color: black;
}
#container article .cuerpoProyectos section .cuerpoProyecto footer .acceso a :hover {
  transition: 0.5s;
  background: rgba(156, 39, 176, 0.9);
}
#container article .cuerpoProyectos section .cuerpoProyecto * {
  color: white;
  font-family: "roboto";
  font-size: 1em;
}
@media screen and (min-height: 1024px) and (max-width: 1000px) {
  #container article .cuerpoProyectos section .cuerpoProyecto * {
    font-size: 0.8em;
  }
}
#container article .cuerpoProyectos section .cuerpoProyecto:hover {
  transition: 0.5s;
  opacity: 1;
}
#container article .cuerpoContacto {
  width: 90%;
  height: 90%;
  position: relative;
  overflow: auto;
  display: flex;
  flex-flow: column;
}
#container article .cuerpoContacto #tituloContacto {
  text-align: center;
  font-family: "robotoLightItalic";
  font-size: 1.5em;
  text-align: center;
}
@media screen and (min-width: 767px) {
  #container article .cuerpoContacto #tituloContacto {
    font-size: 3em;
  }
}
#container article .cuerpoContacto section {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}
#container article .cuerpoContacto section ol {
  padding: 0;
  height: 70%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
@media screen and (min-width: 950px) {
  #container article .cuerpoContacto section ol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
}
#container article .cuerpoContacto section ol li {
  list-style: none;
  font-size: 1.1em;
}
@media screen and (min-width: 450px) {
  #container article .cuerpoContacto section ol li {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 650px) {
  #container article .cuerpoContacto section ol li {
    font-size: 1.4em;
  }
}
#container article .cuerpoContacto section ol li a {
  text-decoration: none;
}
#container article .cuerpoContacto section ol li span {
  margin-left: 10px;
}
#container article .cuerpoContacto #tituloProyecto {
  border-bottom: 1px solid #43a047;
  margin: 0 0 20px 0;
  font-family: "robotoLightItalic";
  font-size: 1.5em;
  text-align: center;
}
@media screen and (min-width: 767px) {
  #container article .cuerpoContacto #tituloProyecto {
    font-size: 3em;
  }
}
#container #presentacion {
  z-index: 10;
}
#container #javascript {
  z-index: 9;
}
#container #disenio {
  z-index: 8;
}
#container #php {
  z-index: 7;
}

@keyframes scaleIntermitente {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.2);
  }
  30% {
    transform: scale(1);
  }
}
@keyframes animacionAparicion {
  0% {
    opacity: 0.1;
    transform: scale(0.1);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5);
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  70% {
    opacity: 0.7;
    transform: scale(0.7);
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  100% {
    transform: scale(1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes animacionOpacidad {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
